.pokemons{
    display: grid;
    /*grid para fazer com que os itens fique um na frente do outro*/
    list-style: none; /*tira os ponto/marcações*/
    padding: 0;
    margin: 0;
}
.pokemon {
    display: flex;
    margin: 0.5rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    color: #fff;
    flex-direction: column;
}
.pokemon .number{
    color: black;
    opacity: 0.3;
    text-align: right;
    font-size: .625rem;
}
.pokemon .name{
    color: #fff;
    margin-bottom: 0;
    text-transform: capitalize;
}
.pokemon .detail img{
    height: 70px;
    max-width: 100%;
    align-self: flex-end;
}
.pokemon .detail .types {
    list-style: none;
    padding: 0;
    margin: 0;
}
.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.pokemon .detail .types .type{

    color: #fff;
    padding: 0.25rem 0.5rem;
    margin: 0.125rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.normal { background-color: #a6a877; }
.grass { background-color: #77c850; }
.fire { background-color: #fe7f30; }
.water { background-color: #678fee; }
.electric { background-color: #f7cf2e; }
.ice { background-color: #98d5d7; }
.ground { background-color: #dfbf69; }
.flying { background-color: #a98ff0; }
.poison { background-color: #a040a0; }
.fighting { background-color: #bf3029; }
.psychic { background-color: #165687; }
.dark { background-color: #725847; }
.rock { background-color: #b8a137; }
.bug { background-color: #a8b720; }
.ghost { background-color: #6e5896; }
.steel { background-color: #b9b7cf; }
.dragon { background-color: #6f38f6; }
.fairy { background-color: #f9aec7; }

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button{
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: white;
    padding: .25rem .5rem;
    font-size: .825rem;
    margin: .25rem 0;
}
/*medias query*/
@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }

    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 991px) and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 575px) and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 379px) {
    .pokemons {
        grid-template-columns: 1fr;
    }
}